body {
    background-image: url(https://d0rtilla.github.io/PX_mockup/static/images/IMG_2291.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center; 
    height:100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;


}

.container  {
    display:flex;
    width:600px;
    height:400px;
    margin: auto;
    text-decoration: none;

}
.dropdown-item:hover {
    color:#F39C12;
}

.navbar-brand:hover {
    color:#F39C12;
}

.nav-link:hover {
    color:#F39C12;
}

.a {
    text-decoration: none !important;
}