.container  {
    display:flex;
    width:600px;
    height:400px;
    margin: auto;
    text-decoration: none;

}
.dropdown-item:hover {
    color:#F39C12;
}

.navbar-brand:hover {
    color:#F39C12;
}

.nav-link:hover {
    color:#F39C12;
}

.a {
    text-decoration: none !important;
}